*{
	padding: 0;
	margin: 0;
}
html,body{
	font-size: 14px;
}
.item img{
	background-image: 120%;
}
.header{
	/*z-index: -9;*/
}
.navOut{
	width: 100%;
	background: white;
	z-index: 99;
}
.navbar{
	border: none;
}
.Box{
	width: 80%;
	z-index: 999;
	/*height: 50px;*/
}
.Box .naUl1{
	width: 60%;
	height: 50px;
	margin: 0 auto;
	background: pink;
}

/*nav*/
nav{
	width: 80%;
	height: 90px;
	margin: 0 auto;
	background: white;

}
.Box {
	width: 100%;
	height: 90px;
	background: white;
	position: relative;
	overflow: hidden;
}
.Box .logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 90px;
	line-height: 90px;
	z-index: 666;
}
.Box .search {
	position: absolute;
	top: 0;
	right: 0;
	/*width: 20%;*/
	height: 100%;
	z-index: 666;
	line-height: 30px;
	background: #ffffff;
}
.Box .search input {
	line-height: 30px;
	margin-top:16% ;
	/*border: none;*/
	outline: none;
	padding: 0 0 0 10px;
}
.Box .search span {
	/*float: right;*/
	font-size: 20px;
	line-height: 30px;
	margin-top:13% ;
	cursor: pointer;
}

.Box .nav {
	height: 90px;
	padding: 0 200px 0 120px;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	/*z-index: -88;*/
}
.Box .nav .navUl{
	list-style: none;
	margin-left: 50px;
	width: 700px;
	height: 90px;
}
.Box .nav .navUl li {
	float: left;
	width: 50px;
	height: 90px;
	line-height: 90px;
	margin-left: 15px;
}
.Box .nav .navUl li:nth-child(1){
	/*background: #f1f1f1;*/
}
.Box .nav .navUl li:hover{
	background: #f1f1f1;
}
.Box .nav .navUl li a {
	text-decoration: none;
	font-size: 18px;
	color: #000000;
	margin-left: 15%;
}
.Box .nav .navUl li a:hover{
	color:#cf4141;
}
/*轮播*/
.item{
	position: relative;
}
.item img{
    vertical-align: middle;
	
}
.trunsTxt{
	position:absolute;
	left:40%;
	top:33%;
	
}
.trunsTxt .trunsTxtP{
	position: absolute;
	left:10%;
	top:45px;
	font-size: 300%;
	color:white;
}
.trunsTxt .trunsTxtSmallP{
	position: absolute;
	left:11%;
	top:0;
	font-size: 200%;
	color:white;
}
.trunsTxtDate{
	position: absolute;
	left:10%;
	top:90px;
	font-size: 250%;
	color:white;
}
/*icon*/
.iconUl{
	width: 100%;
    height: 230px;
    list-style: none;
    padding: 5% 0;
    margin: 2% 5%;
	
}
.iconUl li{
	width: 18rem;
    padding: 3% 7%;
    height: 14rem;
    margin-left: 6%;
    float: left;
    background: #fafafa;
    margin: 2%;
}
.iconUl li:nth-child(1){
	margin-left: 0;
}

.iconUl li p{
	width: 222%;
    height: 20%;
    margin: 22% -55%;
	text-align: -webkit-center;
}
.iconUl li:hover{
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}
/*横线*/
.line{
	cursor: pointer;
	width: 100%;
    height: 5%;
    margin-top: 5%;
    border-top: 5px solid #f2f2f2;
}

.line span{
	display: block;
    color: red;
    font-size: 2rem;
    margin: 2% 43%;
    border: 2px solid lightgray;
    padding: 1%;
    perspective: 500px;
    text-align: -webkit-center;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  	animation: tiao 1s ease 0s infinite;
    
}
@-webkit-keyframes tiao{
	from{
		/*margin-top: 0%;*/
		transform: scaleX(0.3) scaleY(0.5);
		box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
	}
	to{
		/*margin-top: 3%;*/
		transform: scaleX(1) scaleY(1);
		box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
	}
}
 /*Clock*/
.clock{
	width: 100%;
	background: url(../images/brand-bg.jpg) no-repeat;
	height:461px ;
	margin-top: 5%;
	position: relative;
}
.clock .clockMan{
	position:absolute;
	left: 20%;
	top:4%;
	height: 96%;
	z-index: 66;
}
.clockPic{
	position: absolute;
    right: 8%;
    top: 7%;
    height: 60%;
}
.clockUl{
    position: absolute;
    right: 8%;
    top: 75%;
    list-style: none;
    height: 16%;
    width: 33%;
    background: #f1f1f1;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}
.clockUl li{
	float: left;
	width: 30%;
	height: 100%;
	padding: 4% 3%;
	margin-right: 5%;
}
.clockUl li:nth-child(3){
	margin-right:0%;
}
.clockUl li p{
	text-align: center;
	line-height:50% ; ;
	font-size: 1.2rem;
	color:#acacac;
}
.clockUl li .time{
	font-size: 1.5rem;
	color:#333333;
}

/*商品列表*/
.goods_Box{
	margin-top: 5%;
}
.no img{
	width: 200px;
	height: 200px;
}
.no .caption h4 a{
	color:#000000;
}
.no .caption h4 a:hover{
	color:red;
}
.no .caption p span{
	color:red;
}
.no .caption p:nth-child(2){
	width: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-line-clamp:2;
}
.no .caption h4 a{
	width: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-line-clamp:1;
}

/*分页栏*/
.pageUlBox{
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    margin: 0% 25%;
    width: 525px;
    overflow: hidden;
    height: 60%;
    position: relative;
}
.pageUl{
	width: 10000px;
    position: absolute;
    /*left:-338px;*/
}

/*底部*/
.bottom{
	height: 50rem;
	background: #1b1a1f;
	border-top: 5px solid #fafafa;
}