
.shopBox{
	width: 100%;
    background: #fff;
    border: 1px solid black;
    margin: 5% auto;
   
}
.shopBox h3{
	margin: 2% 5%;
}
.shopBox .goodsUl{
    list-style: none;
    width: 100%;
    background: #9e9e9e26;
    height: 4rem;
    margin: 0 auto;
}
.shopBox .goodsUl li{
    float: left;
    height: 20px;
    line-height: 35px;
    margin: 1% 6%;
}

.shopBox .goodsUl li:first-child{
    margin-left: 16%;
}
.shopBox .goodsUl li:first-child em{
	margin-left: -150%;
}
.goods_List{
    width: 100%;
    margin: 0 auto;
}
.goods_List ul{
	list-style: none;
    width: 90%;
    height: 12rem;
    margin: 2% 4%;
    border: 2px solid #0c231e3d;
}

.goods_List ul li{
    float: left;
    line-height: 170px;
    margin-left: 3%;
}

.goods_List ul li:nth-child(2){
	 margin-left: 1rem;
}
.goods_List ul li:nth-child(2) img{
	width:8rem;
	height:8rem ;
   
}
.goods_List ul li:nth-child(3){
    width: 26%;
}
.goods_List ul li:nth-child(3) span{
	width: 33%;
    height: 100%;
    display: -webkit-box;
     /*overflow: hidden;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-line-clamp: 1;*/
}

.goods_List ul li:nth-child(4){
	margin-left: -8%;
	color:red;
}
.goods_List ul li:nth-child(4) em{
    font-size: 1.2rem;
}

.goods_List ul li:nth-child(5){
	margin-left: 8%;
}
.goods_List ul li:nth-child(5) input{
    width: 32%;
    height: 30px;
    font-size: 1.2rem;
    /*-webkit-appearance: normal;*/
   /*normal|icon|window|button|menu|field;*/
}
.goods_List ul li:nth-child(6){
	margin-left: -2%;
	color:red;
}
.goods_List ul li:nth-child(6) em{
   
    font-size: 1.2rem;
}
.goods_List ul li:last-child{
    margin-left: 13%;
}
.goods_List ul li:last-child input{
	font-size: 1.2rem;
    width: 4rem;
    height: 30px;
    /* text-align: center; */
    line-height: 30px
}
.goods_List ul li:nth-child(2){
	position:relative;
}
.goods_List ul li:nth-child(2) span{
	position:absolute;
	top:27%;
	left:3%;
}
/*结算栏*/

.shopBox .orderUl{
    width: 100%;
    background: #9e9e9e26;
    height: 90px;
    margin: 0 auto;
}
.order .orderUl li{
    float: left;
    /*width: 16%;*/
    margin: 0 6%;
    height: 7rem;
    line-height: 7rem;
    text-align: center;
    font-size: 1.5rem;
    color:#000000;
}

.shopBox .orderUl li a{
	color:#000000;
}
.shopBox .orderUl li:last-child{
    background: #1e6f46;
    width: 9%;
    height: 61%;
    line-height: 276%;
    margin-top: 1.5%;
}
.shopBox .orderUl li b{
    font-size: 1.8rem;
    color: #fd1d1dc7;
}
.shopBox .orderUl li:last-child a{
    font-size: 1.8rem;
    /*border-radius: 1rem 1rem;*/
    color: white;
}
.shopBox .orderUl li a:hover{
	color:red;
}
/*遮罩层*/
.orderUl li:nth-child(4){
	position: relative;
}
.orderUl li:nth-child(4)>.zhezhao{
	display: none;
	position:fixed;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.5);
	z-index: 66;
}
.orderUl li:nth-child(4)>.orderBox {
    display: none;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    z-index: 99;
    background: #fff;
    color: #000;
    font-size: 1.2rem;
}	


/*媒体查询*/
@media screen and (min-width:700px) and (max-width:1200px){
	/*信息栏*/
	.shopBox .goodsUl li:last-child{
		display: none;
	}
	.shopBox .goodsUl li:nth-child(3){
		display: none;
	}
	.shopBox .goodsUl li{
        margin-left: 3rem;
	}
	
	/*商品栏*/
	.goods_List ul li:nth-child(3) {
	    margin-left: 4rem;
	    width: 22rem;
	}
	.goods_List ul li:nth-child(4){
		display: none;
	}
	.goods_List ul li:last-child{
		display: none;
	}
	.goods_List ul li{
        margin-left: 1rem;
	}
	.goods_List ul li:nth-child(5){
        margin-left: -4rem;
	}
	.goods_List ul li:nth-child(6){
        margin-left: 12rem;
	}
	
	/*结算栏*/
	.shopBox .orderUl li:nth-child(2),.shopBox .orderUl li:nth-child(3){
		display: none;
	}
	.order .orderUl li{
		/*margin-left: 4%;*/
	}
	.order .orderUl li:last-child{
		display: block;
		margin-left: 6rem;
	}
	.order .orderUl li:nth-child(4) {
	    margin-left: 0rem;
	}
	.order .orderUl li:nth-child(5) {
	    margin-left: 0rem;
	}
	.order .orderUl li:nth-child(6) {
	    margin-left: 1rem;
	}
}
@media screen and (max-width: 700px) {
	/*信息栏*/
	.shopBox .goodsUl li:nth-child(2){
		display: none;
	}
	
	.shopBox .goodsUl li:nth-child(3){
		display: none;
	}
	
	.shopBox .goodsUl li:last-child{
		display: none;
	}
	.shopBox .goodsUl li{
        margin-left: 6rem;
	}
	
	/*商品栏*/
	.goods_List ul li:nth-child(3){
		display: none;
	}
	.goods_List ul li:nth-child(4){
		display: none;
	}
	.goods_List ul li:last-child{
		display: none;
	}
	.goods_List ul li{
        margin-left: 1rem;
	}
	.goods_List ul li:nth-child(5){
        margin-left: 5rem;
	}
	.goods_List ul li:nth-child(6){
        margin-left: 11rem;
	}
	
	
	/*结算栏*/
	.shopBox .orderUl li:nth-child(2),
	.shopBox .orderUl li:nth-child(1),
	.shopBox .orderUl li:nth-child(3),
	.shopBox .orderUl li:nth-child(5){
		display: none;
	}
	.shopBox .orderUl li:nth-child(4){
		margin-left: 5%;
		display: block;
	}
	.shopBox .orderUl li:nth-child(6){
		margin-left: 10%;
		display: block;
	}
	.shopBox .orderUl li:last-child{
		margin-left: 15%;
		display: block;
	}
	
	.shopBox .orderUl li {
	    float: left;
	    width: 20%;
	    height: 7rem;
	    line-height: 7rem;
	    text-align: center;
	    margin-left: -3rem;
	    font-size: 1.5rem;
	    color: #000000;
	}
}